<div class="well event-block">
    <a class="thumbnail-link" href="<%= event.youtubeLink %>" target="__blank">
        <img src="<%= event.thumbnail %>"/>
    </a>
    <div class="content">
        <h3 class="title two-line-clamp"><a href="<%= event.youtubeLink %>" target="__blank"><%= event.title %></a></h3>
        <% if event.subtitle.present? %>
            <p class="subtitle two-line-clamp"><a href="<%= event.youtubeLink %>" target="__blank"><%= event.subtitle %></a></p>
        <% end %>
        <p class="speakers">
            <% if event.speakers.size > 2 %>
                Multiple speakers
            <% else %>
                <% event.speakers.each do |speaker| %>
                    <a href="<%= speaker.link %>" target="__blank"><%= speaker.title %></a><br/>
                <% end %>
            <% end %>
        </p>
        <div class="event-footer">
            <a href="<%= event.youtubeLink %>" target="__blank" class="icon button brands fa-youtube" title="Watch">&nbsp;Watch</a>
        </div>
    </div>
</div>
