---
title: Big On Development
description: "Big O(n) Development is a non-profit initiative that aims to fill in the gap around helping individuals and teams in Singapore’s tech community around career progression and overall tech leadership skills. Our mission is to help everyone in Singapore become better leaders in the tech industry."
layout: main
---


<video playsinline autoplay muted loop id="bgvid">
  <source src="images/bg-short-2.mp4" type="video/mp4">
</video>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="content">
            <div class="inner">
                <h1 style="color: #F5FFFA;">Big <span style="color: #f1c232; text-transform: none;">O(n)</span> Development</h1>
                <p>Engineering Careers <span style="color: #D2B4DE;">Tomorrow</span>.<br style="display: inline;"/> <span style="color: #D2B4DE;">Developing People</span> Today.</p>
                
                <% if data.events.upcoming.size > 0 %>
                    <% event = data.events.upcoming.last %> 
                    <div>
                        <p class="up-next-label">Up next</p>
                        <div class="well event-block">
                            <a class="thumbnail-link" href="<%= event.youtubeLink %>" target="__blank">
                                <img src="<%= event.thumbnail %>"/>
                            </a>
                            <div class="content">
                                <h3 class="title two-line-clamp"><a href="<%= event.youtubeLink %>" target="__blank"><%= event.title %></a></h3>
                                <% if event.subtitle.present? %>
                                    <p class="subtitle two-line-clamp"><a href="<%= event.youtubeLink %>" target="__blank"><%= event.subtitle %></a></p>
                                <% end %>
                                <p class="speakers">
                                    <% if event.speakers.size > 2 %>
                                        Multiple speakers
                                    <% else %>
                                        <% event.speakers.each do |speaker| %>
                                            <a href="<%= speaker.link %>" target="__blank"><%= speaker.title %></a><br/>
                                        <% end %>
                                    <% end %>
                                </p>
                                <div class="event-footer">
                                    <a href="<%= event.youtubeLink %>" target="__blank" class="icon button brands fa-youtube" title="Watch on <%= event.startTime %>">&nbsp;<%= event.startTime %></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#events">Events</a></li>
                <li><a href="https://medium.com/big-on-development">Blog</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        <!-- Events -->
        <article id="events">
            <h2 class="major">Events</h2>
            <% if data.events.upcoming.size > 0 %>
                <% lastUpcomingEvent = data.events.upcoming.last %> 
                <div>
                    <p class="up-next-label">Upcoming events</p>
                    <% data.events.upcoming.reverse.each do |event| %>
                        <div class="well event-block">
                            <a class="thumbnail-link" href="<%= event.youtubeLink %>" target="__blank">
                                <img src="<%= event.thumbnail %>"/>
                            </a>
                            <div class="content">
                                <h3 class="title two-line-clamp"><a href="<%= event.youtubeLink %>" target="__blank"><%= event.title %></a></h3>
                                <% if event.subtitle.present? %>
                                    <p class="subtitle two-line-clamp"><a href="<%= event.youtubeLink %>" target="__blank"><%= event.subtitle %></a></p>
                                <% end %>
                                <p class="speakers">
                                    <% if event.speakers.size > 2 %>
                                        Multiple speakers
                                    <% else %>
                                        <% event.speakers.each do |speaker| %>
                                            <a href="<%= speaker.link %>" target="__blank"><%= speaker.title %></a><br/>
                                        <% end %>
                                    <% end %>
                                </p>
                                <div class="event-footer">
                                    <a href="<%= event.youtubeLink %>" target="__blank" class="icon button brands fa-youtube" title="Watch on <%= event.startTime %>">&nbsp;<%= event.startTime %></a>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
            <% if data.events.past.size > 0 %>
                <div>
                    <p class="up-next-label">Past events</p>
                    <% data.events.past.each do |event| %>
                        <div class="well event-block">
                            <a class="thumbnail-link" href="<%= event.youtubeLink %>" target="__blank">
                                <img src="<%= event.thumbnail %>"/>
                            </a>
                            <div class="content">
                                <h3 class="title two-line-clamp"><a href="<%= event.youtubeLink %>" target="__blank"><%= event.title %></a></h3>
                                <% if event.subtitle.present? %>
                                    <p class="subtitle two-line-clamp"><a href="<%= event.youtubeLink %>" target="__blank"><%= event.subtitle %></a></p>
                                <% end %>
                                <p class="speakers">
                                    <% if event.speakers.size > 2 %>
                                        Multiple speakers
                                    <% else %>
                                        <% event.speakers.each do |speaker| %>
                                            <a href="<%= speaker.link %>" target="__blank"><%= speaker.title %></a><br/>
                                        <% end %>
                                    <% end %>
                                </p>
                                <div class="event-footer">
                                    <a href="<%= event.youtubeLink %>" target="__blank" class="icon button brands fa-youtube" title="Watch">&nbsp;Watch</a>
                                </div>
                            </div>
                        </div>                    
                    <% end %>
                </div>
            <% end %>
        </article>

        <!-- About -->
        <article id="about">
            <h2 class="major">About</h2>
            <div style="text-align:center;">
                <span class="image" style="padding: 1rem;"><img src="images/android-chrome-192x192.png" alt="logo" /></span>
            </div>
            <p><span style="color: #F5FFFA;">Big <span style="color: #f1c232;">O(n)</span> Development</span> is a non-profit initiative that aims to fill in the gap around helping individuals and teams in Singapore’s tech community around career progression and overall tech leadership skills. Our mission is to help everyone in Singapore become better leaders in the tech industry.</p>
        </article>

        <!-- Contact -->
        <article id="contact">
            <h2 class="major">Contact</h2>
            <span style="color: #F5FFFA;">"Big <span style="color: #f1c232;">O(n)</span> Dev"</span> is an initiative by Julius Uy and <a href="https://weiyuan-lane.github.io/">Weiyuan Liu</a>.<br/><br/>

            <div style="margin-bottom: 1rem;">
                Contact them directly from their profiles:
            </div>
            <div style="margin-bottom: 2rem;">
                <a href="https://www.linkedin.com/in/uyjulius/" class="icon button brands fa-linkedin"><span class="label"></span>&nbsp;&nbsp;Julius Uy</a>&nbsp;
                <a href="https://www.linkedin.com/in/liuweiyuan/" class="icon button brands fa-linkedin"><span class="label"></span>&nbsp;&nbsp;Weiyuan Liu</a>
            </div>
        </article>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="https://www.linkedin.com/company/big-on-development" target="__blank" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
            <li><a href="https://fb.me/bigondevelopment" target="__blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="https://medium.com/big-on-development" target="__blank" class="icon brands fa-medium"><span class="label">Medium</span></a></li>
        </ul>
        <p class="copyright">&copy; <span style="color: #F5FFFA;">Big <span style="color: #f1c232; text-transform: none;">O(n)</span> Dev</span>. Design: <a href="https://html5up.net">HTML5 UP</a></p>
    </footer>

</div>
